<div>
              <div class="left_side_bar px-3">

                <div class="list-group" style="float: left; padding-right: 100px;">
                  <a [routerLink]="['/instituciones/']" class="list-group-item list-group-item-action">Instituciones</a>
                  <a [routerLink]="['/profesores/']" class="list-group-item list-group-item-action">Zona de Profesores</a>
                  <a [routerLink]="['/estudiantes/']" class="list-group-item list-group-item-action">Zona de Estudiante</a>
                  </div>
              </div>
              <div class="container">              
                <div class="row">
                  <div class="col-6">
                    <span class="border">
                    <h2>Notas diarias</h2>
                    <p>El grupo 8-03 de la jornada de la tarde no tendra clase el dia de hoy, debido a que el aula de clase estara siendo pintada hasta el dia de mañana</p>
                    <br />
                    <button type="button" class="btn btn-secondary btn-sm">Leer más</button>
                </span> 
                  <div class="col-6">
                      <br>
                      <span class="border">  
                        <h2>Otros Servicios</h2>
                        <p>
                        Colegio, Nuevo amanecer - Calle 19 #6-67
                        Si tiene alguna queja puede enviar un mensaje al correo electronico: Deiby123@gmail.com
                    </p>
                    <br />
                    <button type="button" class="btn btn-secondary btn-sm">Leer más</button>
                    </span> 
                  </div>
                </div>
           
              </div>
</div>
